$pageWidth: 750px;
$mobileBreakpoint: 540px;
$tabletBreakpoint: 900px;
$sidePanelWidth: 380px;
$topSpacing: 6rem;
$fullPageWidth: $pageWidth + 1 * $sidePanelWidth;
$boldWeight: 700;
$semiBoldWeight: 600;
$normalWeight: 400;
